<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <!--    <meta http-equiv="X-UA-Compatible" content="IE=edge">-->
    <!--    <meta name="viewport" content="width=device-width, initial-scale=1.0">-->
    <!--    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet"-->
    <!--          integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">-->
    <title>All Animals</title>
    <link th:rel="stylesheet" th:href="@{webjars/bootstrap/4.0.0-2/css/bootstrap.min.css} "/>

</head>
<body>
<h3>All Animals</h3>
<!-- Navigation -->
<nav class="navbar navbar-expand-lg navbar-dark bg-dark static-top">
    <div class="container">
                <a class="navbar-brand" href="/">Thymeleaf - Bootstrap Pagination</a>
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarResponsive"
                        aria-controls="navbarResponsive"
                        aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse" id="navbarResponsive">
                    <ul class="navbar-nav ml-auto">
                        <li class="nav-item active">
                            <a class="nav-link" href="#">Home
                                <span class="sr-only">(current)</span>
                            </a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="#">About</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="#">Services</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="#">Contact</a>
                        </li>
                    </ul>
                </div>
    </div>
</nav>

<div class="container">
    <div class="row">
        <div class="col-lg-10 mt-5 mb-5">
            <table id="posts" class="table">
                <thead>
                <tr>
                    <th scope="col">ID</th>
                    <th scope="col">Animal type</th>
                    <th scope="col">Name</th>
                    <th scope="col">Gender</th>
                    <th scope="col">Age</th>
                    <th scope="col">Condition</th>
                    <th scope="col">Description</th>
                                            <th scope="col">Action</th>
                </tr>
                </thead>
                <tbody>
                <tr th:each="animal : ${animals.page}">
                    <th scope="row">
                        <p th:utext="${animal.id}">
                    </th>
                    <td>
                        <p th:utext="${animal.type}">
                    </td>
                    <td>
                        <p th:utext="${animal.name}">
                    </td>
                    <td>
                        <p th:utext="${animal.gender}">
                    </td>
                    <td>
                        <p th:utext="${animal.age}">
                    </td>
                    <td>
                        <p th:utext="${animal.condition}">
                    </td>
                    <td>
                        <p th:utext="${animal.description}">
                    </td>
                                        <td>
                                            <a th:href="@{/animals/} + ${animal.id}">Show Profile Animal</a>
                                        </td>
                </tr>
            </table>
        </div>

        <nav aria-label="Page navigation" class="paging">
            <ul class="pagination" th:if="${animals.page.totalPages > 1}">
                <li class="page-item" th:classappend="${!animals.paging.isPrevEnabled()? 'disabled' : ''}">
                    <a class="page-link" th:href="@{'/?pageNumber=' + ${animals.paging.pageNumber - 1}}"
                       tabindex="-1">Previous</a>
                </li>
                <th:block th:each="item : ${animals.paging.getItems()}">
                    <li class="page-item" th:classappend="${item.index == animals.paging.pageNumber? 'active' : ''}"
                        th:if="${item.pageItemType.name() == 'PAGE'}">
                        <a class="page-link" th:href="@{'/?pageNumber=' + ${item.index}}"
                           th:text="${item.index}"></a>
                    </li>
                    <li class="page-item disabled" th:if="${item.pageItemType.name() == 'DOTS'}">
                        <a class="page-link" href="#">...</a>
                    </li>
                </th:block>
                <li class="page-item" th:classappend="${!animals.paging.isNextEnabled()? 'disabled' : ''}">
                    <a class="page-link" th:href="@{'/?pageNumber=' + ${animals.paging.pageNumber + 1}}">Next</a>
                </li>
            </ul>
        </nav>

    </div>
</div>


<script th:src="@{/webjars/jquery/jquery.min.js}"></script>
<script th:src="@{/webjars/popper.js/umd/popper.min.js}"></script>
<script th:src="@{/webjars/bootstrap/js/bootstrap.min.js}"></script>

</body>
</html>