<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <title>All Animals</title>
</head>

<body>
    <h3>All Animals</h3>

    <p>
        <a th:href="@{/}">Return to the homepage</a>
    </p>

    <p></p>
        <table class="table">
            <thead>
                <tr>
                    <th scope="col">Photo</th>
                    <th scope="col">ID</th>
                    <th scope="col">Animal type</th>
                    <th scope="col">Name</th>
                    <th scope="col">Gender</th>
                    <th scope="col">Age</th>
                    <th scope="col">Condition</th>
                    <th scope="col">Description</th>
                    <th scope="col">Action</th>
                </tr>
            </thead>
            <tr th:each="animal : ${animals}">
                <th scope="row">
                    <p>
                        <img th:src="@{animals/image/} + ${animal.pathPhoto}" width="250" height="250"/>
                    </p>
                </th>
                <td>
                    <p th:utext="${animal.id}"></p>
                </td>
                <td>
                    <p th:utext="${animal.type}"></p>
                </td>
                <td>
                    <p th:utext="${animal.name}"></p>
                </td>
                <td>
                    <p th:utext="${animal.gender}"></p>
                </td>
                <td>
                    <p th:utext="${animal.age}"></p>
                </td>
                <td>
                    <p th:utext="${animal.condition}"></p>
                </td>
                <td>
                    <p th:utext="${animal.description}"></p>
                </td>
                <td>
                    <a th:href="@{/animals/} + ${animal.id}">Show Profile Animal</a>
                </td>

                <td>
                    <a th:href="@{/animals/} + ${animal.id} + @{/update}">Edit Animal</a>
                </td>

            </tr>
        </table>
    </div>

</body>

</html>