<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <title>Edit Animal</title>
</head>

<body>
<h1>Edit Animal</h1>
<!--<body>-->
<!--<form th:action="upload" enctype="multipart/form-data" method="post" th:object="${photo}">-->
<!--    <p>Загрузите ваши фотографии на сервер</p>-->
<!--    <p><input type="file" name="uploadPhoto" multiple accept="image/*,image/jpeg">-->
<!--        <input type="submit" value="Отправить"></p>-->
<!--</form>-->
<!--</body>-->
<!--<form th:action="@{animals/add}" th:object="${animal}" th:method="post" enctype="multipart/form-data" >-->

<p>
    <a href="all_animals.html" th:href="@{/animals}">Return to all Animals</a>
</p>

<form th:action="@{add}" th:object="${animal}" method="post" enctype="multipart/form-data" >
    <table>
        <tr>
            <td>Кличка:</td>
            <td><input required type="text" th:field="*{name}"/></td>
        </tr>
        <tr>
            <td>Возраст:</td>
            <td><input required type="number" input th:field="*{age}"/>

            </td>
        </tr>
        <tr>
            <td>Категория:</td>
            <td>
                <select class="form-select form-select-sm" th:field="*{type}">
<!--                    <option value=""> &#45;&#45; </option>-->
                    <option th:each="t : ${animalTypes}"
                            th:value="${t.name}"
                            th:utext="${t.name}"/>
                </select>
            </td>
        </tr>
        <tr>
            <td>Пол:</td>
<!--            <td><input required type="text" input th:field="*{gender}"/></td>-->
            <td>
                <select class="form-select form-select-sm" th:field="*{gender}">
                    <!--                    <option value=""> &#45;&#45; </option>-->
                    <option th:each="g : ${animalGenders}"
                            th:value="${g.name}"
                            th:utext="${g.name}"/>
                </select>
            </td>
        </tr>
        <tr>
            <td>Состояние:</td>
            <td><input required type="text" input th:field="*{condition}"/></td>
        </tr>
        <tr>
            <td>Текстовое описание:</td>
            <td><input required type="text" input th:field="*{description}"/></td>
        </tr>

        <tr>
            <td colspan="2">
                <button type="submit" class="btn btn-primary">Сохранить</button>
            </td>
        </tr>

    </table>
</form>
</body>
</html>