<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Profile Animal</title>
</head>

<body>
    <h3>Profile Animal</h3>

    <p></p>
    <form th:object="${current_animal}">
        <p th:utext="${current_animal.id}">
    </form>

    <table border="1">
            <thead>
                <tr>
                    <th scope="col">ID</th>
                    <th scope="col">Kind</th>
                    <th scope="col">Name</th>
                    <th scope="col">Gender</th>
                    <th scope="col">Age</th>
                    <th scope="col">Condition</th>
                    <th scope="col">Description</th>
                </tr>
            </thead>
                <th scope="row">
                    <p th:utext="${current_animal.id}">
                </th>
                <td>
                    <p th:utext="${current_animal.kind}">
                </td>
                <td>
                    <p th:utext="${current_animal.name}">
                </td>
                <td>
                    <p th:utext="${current_animal.gender}">
                </td>
                <td>
                    <p th:utext="${current_animal.age}">
                </td>
                <td>
                    <p th:utext="${current_animal.condition}">
                </td>
                <td>
                    <p th:utext="${current_animal.description}">
                </td>
        </table>
    </div>

</body>

</html>