<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">

    <title>Profile Animal</title>
</head>

<body>
    <h3>Profile Animal</h3>

    <p>
        <a th:href="@{/}">Return to the homepage</a>
        <br>

        <a th:href="@{/animals}">Return to all Animals</a>
    </p>

    <p></p>
        <table class="table">
            <thead>
                <tr>
                    <th scope="col">ID</th>
                    <th scope="col">Name</th>
                    <th scope="col">Gender</th>
                    <th scope="col">Age</th>
                    <th scope="col">Condition</th>
                    <th scope="col">Description</th>
                </tr>
            </thead>
                <th scope="row">
                    <p th:utext="${current_animal.id}">
                </th>
                <td>
                    <p th:utext="${current_animal.name}">
                </td>
                <td>
                    <p th:utext="${current_animal.gender}">
                </td>
                <td>
                    <p th:utext="${current_animal.age}">
                </td>
                <td>
                    <p th:utext="${current_animal.condition}">
                </td>
                <td>
                    <p th:utext="${current_animal.description}">
                </td>
        </table>
    </div>

</body>

</html>