<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>

<body>
<h1>Форма для поиска животного</h1>
<div class="container my-auto">
    <form th:action="@{search}" th:object="${searchAnimal}" method="post" enctype="multipart/form-data">
        <div class="mb-3">
            <label for="inputCondition" class="form-label">Gender:</label>
            <input type="text" th:field="*{gender}" class="form-control" id="inputCondition">
        </div>
<!--        <div class="mb-3">-->
<!--            <label for="inputAge" class="form-label">Age:</label>-->
<!--            <input type="number" th:field="*{age}" class="form-control" id="inputAge">-->
<!--        </div>-->
        <div class="mb-3">
            <label for="inputName" class="form-label">Type Animal:</label>
            <input type="text" th:field="*{type}" class="form-control" id="inputName">
        </div>
        <div>
            <button type="submit" class="btn btn-primary">Submit</button>
            <button type="reset" class="btn btn-danger">Reset</button>
        </div>
    </form>
</div>
</body>
</html>